a{
    color: inherit;
    text-decoration: none;
}
.menu{
    color: aqua;
    background-color: azure;
    list-style-type: none;
}
.no{
    display: none;
}
li{
    display: inline-block;
}
a:active{
    border-bottom: 3px solid red;
}